body {
    width: 960px;
    margin: 0 auto;
    background-image: url("grey-split-background.jpg");
    background-color: #bfbfbf;
    background-repeat: no-repeat;
    border-width: 3px;
    border-color: #1d1d1d;
   }

header {
  padding: 10pt;
  font-family: "Palatino Linotype", Palatino, Times;
  font-size: 12px;
  color: #000000;
}

h1 {
	font-style: italic;
	font-size: 50px;
	color: #ffffff;
	padding-left: 10px;
}

header h2 {
  text-align: right;
  font-size: 20px;
}

button {
  background-color: #1d1d1d;
  border: 1px, #151515;
  color: #ffffff;
  padding: 10px, 0px;
  text-align: center;
  font-size: 16px;
}

main {
	background-color:#d9bfc6;
  padding-top: 20px;
  padding-left: 90px;
  padding-bottom: 20px;
  padding-right: 90px;
}

main h2 {
  font-family: "Palatino Linotype", Palatino, Times;
  font-size: 30px;
  font-style: underline;
}

article {
  font-family: Calibri, Arial;
  color: #000000;
}

footer {
  text-align: center;
  font-family: "Palatino Linotype", Palatino, Times;
  color: #000000;
}